@charset "UTF-8";
/* PADRÃO */
.top_title h1{
	font-size: 33px;
	margin-bottom: 15px;
}

/* HEADER */
/* .top{
	position: fixed;
	width: 100%;
    top: 0;
    left: 0;
} */

	/* TITULO */
.top, .final{
	background: linear-gradient(128deg,
								var(--principal-1) 0%,
								var(--principal-2) 70%);
}

.top_title{
	padding: 30px 0 30px 95px;
	margin-bottom: 10px;
}

.top_title h1{
	font-size :32px;
	color: var(--texto-2);
	margin: 0px;
	padding: 0px 0px 1px;
}

.top_title h2{
	font-size: 16px;
	margin-left: 1px;
	color: var(--texto-2);
	font-weight: bold;
}

	/* MENU TOPO */
.top_menu{
	border-top: 1px solid var(--secundaria-1);
	background: none;
}

.top_menu_options{
	padding: 0 30px 0 30px;
}

.top_menu ul{
	display: flex;
	justify-content: space-around;
}

.top_menu ul a{
	list-style-type: none;
	text-decoration: none;
}

.top_menu #nav_button, #top_menu_drop #nav_button{
	width: 110px;
	height: 40px;
	background: none;
	border: none;
	font-size: 18px;
	color: var(--texto-2);
	transition: color .5s, background .5s;
}


.top_menu ul a #nav_button:hover{
	font-weight: bold;
	background: var(--secundaria-1);
	color: var(--texto-1);
}

#top_menu_drop{
	display: none;
	position: absolute;
	background-color: var(--principal-2);
	box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
}

#top_menu_drop a{
	display: block;
}

.option_drop:hover #top_menu_drop{
	display: block;
}

.option_drop #top_menu_drop #nav_button:hover{
	background: var(--secundaria-1);
	color: var(--texto-1);
}
/* ASIDE */
	/* SÚMARIO */
.menu_scroll{
	width: 100%;
	float: left;
	background: linear-gradient(var(--principal-1) 0%, var(--secundaria-1) 80%);
	min-height: 60vh;
}

.menu_scroll h1{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: var(--texto-2);
	padding: 10px 10px 0px 10px;
}

.menu_options ul{
	margin: 0px;
	padding: 0px;
	font-weight: 600;
}

.menu_options ul li{
	margin: 0px 20px 20px;
	font-size: 15px;
	
}

.menu_options ul ol li{
	margin: 0px 20px 0px;
	font-size: 13px;
}

.menu_options ul li a{
	background-color: none;
	color: var(--texto-1);
	text-decoration: none;
}

.menu_options ul li a:hover{
	color: var(--texto-1);
	letter-spacing: 1px;
	text-decoration: underline;
}
/* MAIN */
	/* CONTEÚDO */
.content{
	padding: 15px;
}

.content ol{
	margin-left: 15px;
}

/* FOOTER */
	/* RODAPÉ */
.final{
	display: flex;
	justify-content: center;
	padding: 17px 50px 17px 150px;
}

.final a{
	color: var(--texto-2);
	text-decoration: none;
}

.final a:hover{
	font-weight: bold;
	text-decoration: underline;
}

.final h2{
	color: var(--texto-2);
	margin-bottom: 3px;
}

.final ul li{
	list-style-type: none;
}

.contacts, .services, .links{
	width: 30%;
}

.contacts ul li{
	color: var(--texto-2);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}