@charset "UTF-8";

:root{
/* CORES */
    /* PAGINA */
    --principal-1 : #2e7bef;
    --principal-2 : #2563eb;
    --principal-3 : #00b7ff;
    --secundaria-1 : #ffffff;
    --secundaria-2 : #757575;
    --texto-1 : #292524;
    --texto-2 : #ffffff;
    --texto-3 : #757575;

    /* BALÕES DE ALERTA */
    --alerta-texto : #000000;
    --alerta-fundo : #e45947;
    --alerta-borda : #58151c;

    /* BALÕES DE AJUDA */
    --erro-texto : #664d03;
    --erro-fundo : #fff3cd;
    --erro-borda : #ffe69c;
}

/* PADRÃO */
*{
    margin: 0px;
    padding: 0px;
    height: auto;
    color: var(--texto-1);
}

body{
    display: grid;
    grid-template-columns: 200px auto;
    grid-row: auto auto auto;
	font-family: 'Roboto';
    min-height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    /* padding-top: 165px; */
}

/* GRID */
.top{
    grid-column: 1/3;
    grid-row: 1/2;
    
}

.aside_menu{
    grid-column: 1/2;
    grid-row: 2/3;
}

.content{
    grid-column: 2/3;
    grid-row: 2/3;
    min-height: 100vh;
}

.final{
    grid-column: 1/3;
    grid-row: 3/4;
}