@charset "UTF-8";

:root{
    /* CORES */
    --principal-1 : #2e7bef;
    --principal-2 : #2563eb;
    
    --secundaria-1 : #ffffff;
    --secundaria-2 : #757575;

    --texto-1 : #292524;
    --texto-2 : #ffffff;
    --texto-3 : #757575;
}

/* PADRÃO */
*{
    margin: 0px;
    padding:0px;
    height: auto;
    color: var(--texto-1);
}

body{
    display: grid;
    grid-template-columns: 25vh auto;
    grid-row: auto auto auto;
	font-family: 'Roboto';
}

/* GRID */
.top{
    grid-column: 1/3;
    grid-row: 1/2;
}

.aside_menu{
    grid-column: 1/2;
    grid-row: 2/3;
}

.content{
    grid-column: 2/3;
    grid-row: 2/3;
}

.final{
    grid-column: 1/3;
    grid-row: 3/4;
}